@model RealEstate.Models.ViewModel.HomesViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Homes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl3)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl4)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl5)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl5)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.HouseImageUrl6)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.HouseImageUrl6)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.EstMortgage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.EstMortgage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.Bedrooms)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.Bedrooms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.Bathrooms)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.Bathrooms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Homes.YearBuilt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Homes.YearBuilt)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Homes.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>