@model IEnumerable<RealEstate.Models.Homes>

@{
    ViewData["Title"] = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    

    <div>
        <h4>Homes</h4>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="card mx-auto mt-3" style="width: 18rem;border:2px solid black;">
                <img class="card-img-top" src="@item.HouseImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@String.Format("{0:c}", item.Price)</h5>
                    <p class="card-text">@item.Type <br />@item.Bedrooms bds. / @item.Bathrooms ba.</p>
                    <a href="#" class="btn btn-outline-dark">View</a>
                </div>
            </div>
            }
        </div>
        
          
    </div>
</div>
